<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Lego Detecter</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/nav.css">
  <link rel="stylesheet" href="static/css/topnav.css">


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h1>Detector de legos</h1>
      </div>
    </div>
  </div>
  <div class="topnav">
  <a href="/">Detectar</a>
  <a href="/subir">Subir</a>
  <a href="/colecciones">Colecciones</a>
</div>







<div class="container">
    <h5>Elije un creador</h5>
    <div>
  <form action="/listar" method="POST">
  <select name="seleccion">
      {% for carpeta in opciones %}
      <option value="{{ carpeta }}">{{ carpeta }}</option>
      {% endfor %}
</select>
       <button type="submit" class="btn btn-default">Go</button>
  </form>
    </div>
</div>



{% for pic in pics %}
    <img src='static/images/{{seleccion}}/{{pic}}' width="400" height=auto/>
{% endfor %}


{% block y %}

   {% if session.name %}
      Estar registrado como {{ session.name }} guachin <a href="/logout">logout</a>.
   {% else %}
      No estas Registrado. <a href="/login">login</a>.
   {% endif %}

{% endblock %}
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>






<script>
        $(document).ready(function() {
           $('#retrieve').click(function(){
               $.ajax({
               url: "{{ url_for ('get_img') }}",
               type: "GET",
               success: function(response) {
                   $("#myimg").attr('src', '/static/' + response);
              },
              error: function(xhr) {
                //Do Something to handle error
             }
             });
           });
        });
       </script>