<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Lego Detecter</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/nav.css">
  <link rel="stylesheet" href="static/css/topnav.css">




</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h1>Detector de legos</h1>
      </div>
    </div>
  </div>
  <div class="topnav">
  <a href="/">Detectar</a>
  <a href="/subir">Subir</a>
  <a href="/colecciones">Colecciones</a>
</div>






        <h3>Subir imagen a detectar</h3>
        <form action="/uploader"  enctype="multipart/form-data" method="post">
            <input type="file" name="file">
            <input type="submit" value="Cargar" />
        </form>

        <form action="/my-link">
            <input type="submit" value="Procesar" />
        </form>



       <!-- <p>Objetos Detectados:{{ sample }}</p> -->
        <!-- <img src="{{url_for('static', filename='test.jpg')}}"  align="top" width="400" height="500"/> -->


        <h3>Resultado</h3>
            <button type='button' id ='retrieve'>Ver resultado</button>
             <img src="" id="myimg"  width="400" height=auto/>

    <p>Piezas detectadas:</p>

  <ul class="nav">
<li><img src="static/images/blancog.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ blancog }}</p></li>
<li><img src="static/images/blanco c.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ blancoc }}</p></li>
<li><img src="static/images/amarillo g.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ amarillog }}</p></li>
<li><img src="static/images/amarillo c.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ amarilloc }}</p></li>
<li><img src="static/images/azul g.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ azulg }}</p></li>
<li><img src="static/images/azul c.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ azulc }}</p></li>
<li><img src="static/images/rojo g.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ rojog }}</p></li>
<li><img src="static/images/rojo c.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ rojoc }}</p></li>
<li><img src="static/images/negro g.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ negrog }}</p></li>
<li><img src="static/images/negro c.jpg" alt="W3Schools.com" width="120" height="120"><p>{{ negroc }}</p></li>

</ul>


{% block y %}

   {% if session.name %}
      Estar registrado como {{ session.name }} guachin <a href="/logout">logout</a>.
   {% else %}
      No estas Registrado. <a href="/login">login</a>.
   {% endif %}

{% endblock %}




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>






<script>
        $(document).ready(function() {
           $('#retrieve').click(function(){
               $.ajax({
               url: "{{ url_for ('get_img') }}",
               type: "GET",
               success: function(response) {
                   $("#myimg").attr('src', '/static/' + response);
              },
              error: function(xhr) {
                //Do Something to handle error
             }
             });
           });
        });
       </script>