

{% block y %}
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <h1> Identificate </h1>
 
   <form action="/login" method="POST">
      <input placeholder="Name" autocomplete="off" type="text" name="name">
      <input type="submit" name="Register">
   </form>
 
{% endblock %}