<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Lego Detecter</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/nav.css">
  <link rel="stylesheet" href="static/css/topnav.css">


</head>
<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h1>Detector de legos</h1>
      </div>
    </div>
  </div>
  <div class="topnav">
  <a href="/">Detectar</a>
  <a href="/subir">Subir</a>
  <a href="/colecciones">Colecciones</a>
</div>

<div>
        <h3>Subir Creacion</h3>




<div id="container" style="white-space:nowrap">

    <div id="image" style="display:inline;">
        <img src="{{foto}}"  width="10" height=auto/>
    </div>

    <div id="texts" style="display:inline; white-space:nowrap;">
        {{hay}}
    </div>

</div>


        <form action="/subircreacion"  enctype="multipart/form-data" method="post">
            <input type="file" name="file" input>
            <br>
            <p>Ingrese el titulo de la creacion</p>
            <input type="text" name="Titulo" placeholder="Titulo">
           <p>Ingrese una descripcion de su creacion</p>
              <textarea id="descripcion" name="Descripcion" placeholder="descripcion" rows="4" cols="50"></textarea>
              <br>
              <input type="submit" value="Subir">
        </form>

</div>

  <div>
      <h3>Buscar creaciones para mis Rastis</h3>
      <form action="/buscar">
      <input type="submit" value="Buscar" />
      </form>



  </div>


 {% block y %}

   {% if session.name %}
      Estar registrado como {{ session.name }} guachin <a href="/logout">logout</a>.
   {% else %}
      No estas Registrado. <a href="/login">login</a>.
   {% endif %}

{% endblock %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>






<script>
        $(document).ready(function() {
           $('#retrieve').click(function(){
               $.ajax({
               url: "{{ url_for ('get_img') }}",
               type: "GET",
               success: function(response) {
                   $("#myimg").attr('src', '/static/' + response);
              },
              error: function(xhr) {
                //Do Something to handle error
             }
             });
           });
        });
       </script>